---
http_interactions:
- request:
    method: get
    uri: https://geocoding.geo.census.gov/geocoder/locations/address?benchmark=2020&format=json&street=451%20N.%208th%20St.&zip=47807
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"result":{"input":{"address":{"zip":"47807","street":"451 N. 8th St."},"benchmark":{"isDefault":false,"benchmarkDescription":"Public
        Address Ranges - Census 2020 Benchmark","id":"2020","benchmarkName":"Public_AR_Census2020"}},"addressMatches":[{"tigerLine":{"side":"R","tigerLineId":"606508091"},"coordinates":{"x":-87.40576720252876,"y":39.4713935121389},"addressComponents":{"zip":"47807","streetName":"8TH","preType":"","city":"TERRE
        HAUTE","preDirection":"N","suffixDirection":"","fromAddress":"401","state":"IN","suffixType":"ST","toAddress":"499","suffixQualifier":"","preQualifier":""},"matchedAddress":"451
        N 8TH ST, TERRE HAUTE, IN, 47807"}]}}'
  recorded_at: Mon, 06 Mar 2023 12:43:10 GMT
recorded_with: VCR 6.1.0
