---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/FWD/117,117/forecast
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - f1a07fa
      X-Server-Id:
      - vm-lnx-nids-apiapp11.ncep.noaa.gov
      X-Edge-Request-Id:
      - b6e72912
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#"
                }
            ],
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -96.039362100000005,
                            33.114350799999997
                        ],
                        [
                            -96.03915520000001,
                            33.091742499999995
                        ],
                        [
                            -96.012168800000012,
                            33.091913599999998
                        ],
                        [
                            -96.012370400000009,
                            33.1145219
                        ],
                        [
                            -96.039362100000005,
                            33.114350799999997
                        ]
                    ]
                ]
            },
            "properties": {
                "updated": "2023-03-04T23:06:29+00:00",
                "units": "us",
                "forecastGenerator": "BaselineForecastGenerator",
                "generatedAt": "2023-03-05T01:06:38+00:00",
                "updateTime": "2023-03-04T23:06:29+00:00",
                "validTimes": "2023-03-04T17:00:00+00:00/P7DT20H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 149.9616
                },
                "periods": [
                    {
                        "number": 1,
                        "name": "Tonight",
                        "startTime": "2023-03-04T19:00:00-06:00",
                        "endTime": "2023-03-05T06:00:00-06:00",
                        "isDaytime": false,
                        "temperature": 49,
                        "temperatureUnit": "F",
                        "temperatureTrend": null,
                        "probabilityOfPrecipitation": {
                            "unitCode": "wmoUnit:percent",
                            "value": null
                        },
                        "dewpoint": {
                            "unitCode": "wmoUnit:degC",
                            "value": 9.4444444444444446
                        },
                        "relativeHumidity": {
                            "unitCode": "wmoUnit:percent",
                            "value": 93
                        },
                        "windSpeed": "5 to 10 mph",
                        "windDirection": "SE",
                        "icon": "https://api.weather.gov/icons/land/night/skc?size=medium",
                        "shortForecast": "Clear",
                        "detailedForecast": "Clear, with a low around 49. Southeast wind 5 to 10 mph."
                    },
                    {
                        "number": 2,
                        "name": "Sunday",
                        "startTime": "2023-03-05T06:00:00-06:00",
                        "endTime": "2023-03-05T18:00:00-06:00",
                        "isDaytime": true,
                        "temperature": 76,
                        "temperatureUnit": "F",
                        "temperatureTrend": "falling[...]
