---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/points/33.10672410269946,-96.73356067185759
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - application/problem+json
      Location:
      - "/points/33.1067,-96.7336"
      X-Correlation-Id:
      - 112ef7f8
      X-Server-Id:
      - vm-lnx-nids-apiapp6.ncep.noaa.gov
      X-Edge-Request-Id:
      - b5b6e1b1
    body:
      encoding: UTF-8
      string: |-
        {
            "correlationId": "112ef7f8",
            "title": "Adjusting Precision Of Point Coordinate",
            "type": "https://api.weather.gov/problems/AdjustPointPrecision",
            "status": 301,
            "detail": "The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.",
            "instance": "https://api.weather.gov/requests/112ef7f8"
        }
  recorded_at: Sun, 05 Mar 2023 00:38:08 GMT
- request:
    method: get
    uri: https://api.weather.gov/points/33.1067,-96.7336
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - c88da92
      X-Server-Id:
      - vm-lnx-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - b5b6e2a6
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wx": "https://api.weather.gov/ontology#",
                    "s": "https://schema.org/",
                    "geo": "http://www.opengis.net/ont/geosparql#",
                    "unit": "http://codes.wmo.int/common/unit/",
                    "@vocab": "https://api.weather.gov/ontology#",
                    "geometry": {
                        "@id": "s:GeoCoordinates",
                        "@type": "geo:wktLiteral"
                    },
                    "city": "s:addressLocality",
                    "state": "s:addressRegion",
                    "distance": {
                        "@id": "s:Distance",
                        "@type": "s:QuantitativeValue"
                    },
                    "bearing": {
                        "@type": "s:QuantitativeValue"
                    },
                    "value": {
                        "@id": "s:value"
                    },
                    "unitCode": {
                        "@id": "s:unitCode",
                        "@type": "@id"
                    },
                    "forecastOffice": {
                        "@type": "@id"
                    },
                    "forecastGridData": {
                        "@type": "@id"
                    },
                    "publicZone": {
                        "@type": "@id"
                    },
                    "county": {
                        "@type": "@id"
                    }
                }
            ],
            "id": "https://api.weather.gov/points/33.1066999,-96.7336",
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                    -96.733599999999996,
                    33.106699900000002
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/points/33.1066999,-96.7336",
                "@type": "wx:Point",
                "cwa": "FWD",
                "forecastOffice": "https://api.weather.gov/offices/FWD",
                "gridId": "FWD",
                "gridX": 91,
                "gridY": 117,
                "forecast": "https://api.weather.gov/gridpoints/FWD/91,117/forecast",
                "forecastHourly": "https://api.weather.gov/gridpoints/FWD/91,117/forecast/hourly",
                "forecastGridData": "https://api.weather.gov/gridpoints/FWD/91,117",
                "observationStations": "https://api.weather.gov/gridpoints/FWD/91,117/stations",
                "relativeLocation": {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [
                            -96.673032000000006,
                            33.109735999999998
                        ]
                    },
                    "properties": {
                        "city": "Allen",
                        "state": "TX",
                        "distance": {
                            "unitCode": "wmoUnit:m",
                            "value": 5651.4863180318998
                        },
                        "bearing": {
                            "unitCode": "wmoUnit:degree_(angle)",
                            "value": 266
                        }
                    }
                },
                "forecastZone": "https://api.weather.gov/zones/forecast/TXZ104",
                "county": "https://api.weather.gov/zones/county/TXC085",
                "fireWeatherZone": "https://api.weather.gov/zones/fire/TXZ104",
                "timeZone": "America/Chicago",
                "radarStation": "KFWS"
            }
        }
  recorded_at: Sun, 05 Mar 2023 00:38:08 GMT
recorded_with: VCR 6.1.0
