---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/FWD/91,117
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/problem+json
      X-Correlation-Id:
      - dc3e9e0
      X-Server-Id:
      - vm-lnx-nids-apiapp2.ncep.noaa.gov
      X-Edge-Request-Id:
      - '55453193'
    body:
      encoding: UTF-8
      string: |-
        {
          "correlationId": "dc3e9e0",
          "title": "Unexpected Problem",
          "type": "https://api.weather.gov/problems/UnexpectedProblem",
          "status": 500,
          "detail": "An unexpected problem has occurred. If this error continues, please contact support at nco.ops@noaa.gov.",
          "instance": "https://api.weather.gov/requests/dc3e9e0"
        }
  recorded_at: Mon, 06 Mar 2023 12:20:28 GMT
recorded_with: VCR 6.1.0
