---
http_interactions:
- request:
    method: get
    uri: https://api.weather.gov/gridpoints/FWD/91,117
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/geo+json
      X-Correlation-Id:
      - 377b6e86
      X-Server-Id:
      - vm-lnx-nids-apiapp5.ncep.noaa.gov
      X-Edge-Request-Id:
      - 1069fedc
    body:
      encoding: UTF-8
      string: |-
        {
            "@context": [
                "https://geojson.org/geojson-ld/geojson-context.jsonld",
                {
                    "@version": "1.1",
                    "wmoUnit": "https://codes.wmo.int/common/unit/",
                    "nwsUnit": "https://api.weather.gov/ontology/unit/"
                }
            ],
            "id": "https://api.weather.gov/gridpoints/FWD/91,117",
            "type": "Feature",
            "geometry": {
                "type": "Polygon",
                "coordinates": [
                    [
                        [
                            -96.741016200000004,
                            33.108324099999997
                        ],
                        [
                            -96.740669600000004,
                            33.085716599999998
                        ],
                        [
                            -96.713691300000008,
                            33.086004599999995
                        ],
                        [
                            -96.714032400000008,
                            33.108612099999995
                        ],
                        [
                            -96.741016200000004,
                            33.108324099999997
                        ]
                    ]
                ]
            },
            "properties": {
                "@id": "https://api.weather.gov/gridpoints/FWD/91,117",
                "@type": "wx:Gridpoint",
                "updateTime": "2023-03-06T11:31:29+00:00",
                "validTimes": "2023-03-06T05:00:00+00:00/P7DT20H",
                "elevation": {
                    "unitCode": "wmoUnit:m",
                    "value": 213.05520000000001
                },
                "forecastOffice": "https://api.weather.gov/offices/FWD",
                "gridId": "FWD",
                "gridX": "91",
                "gridY": "117",
                "temperature": {
                    "uom": "wmoUnit:degC",
                    "values": [
                        {
                            "validTime": "2023-03-06T05:00:00+00:00/PT1H",
                            "value": 17.777777777777779
                        },
                        {
                            "validTime": "2023-03-06T06:00:00+00:00/PT1H",
                            "value": 18.888888888888889
                        },
                        {
                            "validTime": "2023-03-06T07:00:00+00:00/PT1H",
                            "value": 18.333333333333332
                        },
              [...]
